.header {
  grid-area: header;
}
.aside {
  grid-area: aside;
}
.body {
  grid-area: body;
}
.footer {
  grid-area: footer;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header header"
    "aside body"
    "footer footer";
}
.box {
  border: solid 1px black;
  margin: 10px;
}
